.outer-latest-released .latest-released {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 100%;
    grid-gap: 20px;
}

.outer-latest-released .latest-released .single-latest-released {
    width: 100%;
    padding: 1rem;
    border: 0.5px solid rgb(235, 235, 235);
}

.outer-latest-released .latest-released .single-latest-released img {
    object-fit: cover;
    border-radius: 5px;
    height: 400px;
    width: 100%;
}

.outer-latest-released .latest-released .single-latest-released img:hover {
    opacity: 0.95;
}

.outer-latest-released .latest-released .single-latest-released .movie-info {
    padding: 20px 0;
}

.outer-latest-released .latest-released .single-latest-released .movie-info h2:hover {
    text-decoration: underline;
}

.outer-latest-released .latest-released .single-latest-released .movie-info span {
    text-decoration: underline;
    margin-left: 5px;
}

.outer-latest-released .latest-released .single-latest-released .movie-info h6 {
   font-weight: bold;
   margin-top: 5px;
}
